
.xcode-listname-href{
    cursor: pointer;
}

.closeNav-width{
    width: var(--thoughtware-size-24);
    line-height: var(--thoughtware-size-24);
}

.common-width{
    width: var(--thoughtware-icon-size-32);
    min-width: var(--thoughtware-icon-size-32);
    height: var(--thoughtware-icon-size-32);
    line-height: var(--thoughtware-icon-size-32);
}

.xcode-listname-icon{
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    color: black;
}

.xcode-icon-0 {
    background: #cadbf3;
}

.xcode-icon-1 {
    background: #ffebee;
}
.xcode-icon-2 {
    background: #d9d9d9;
}
.xcode-icon-3 {
    background: #e0f2f1;
}

.xcode-icon-4 {
    background: #f3e5f5;
}
.xcode-listname-name{
    color: var(--thoughtware-blue);
}
.closeNav-width{
    width: var(--thoughtware-icon-size-32);
    height: var(--thoughtware-icon-size-32);
    line-height: var(--thoughtware-icon-size-32);
}
.openNav-width{
    width: 24px;
    height: 24px;
}
.icon-tab-mar{
    margin-right: 5px;
}
