.user-rpy{
  .user-rpy-tab{
    display: flex;
    gap: 20px;
    margin: 15px 0;
    .user-rpy-tab-nav{
      font-size: var(--thoughtware-font-14);
      cursor: pointer;
      height: 40px;
      line-height: 40px;
      display: flex;
      gap: 5px;
      align-items: center;
      .tab-nav-size{
        color: #999;
        font-size: 14px;
      }
    }
    .choose-rpy-tab-nav{
      color: #0063FF;
      border-bottom: 2px solid #0063FF;
    }
  }
  .user-rpy-search{
    margin-top: 20px;
  }
  .user-rpy-table{
    padding-top: var(--data-table-10);
    .user-rpy-table-name{
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
    }
    .name-icon{
      margin-right: 5px;
    }
    .name-text{
      .name-text-name{
        font-weight: var(--thoughtware-font-weight-bold);
        cursor: pointer;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        &:hover{
          text-decoration: underline;
        }
      }
      .name-text-lock{
        padding: 0 8px;
        font-weight: 50;
        font-size: 15px;
      }
      .name-text-type{
        display: inline-block;
        color: #707070;
        font-size: 12px;
        line-height: 20px;
        padding: 0 7px;
        border: 1px solid #e5e5e5;
        border-radius: 100px;
        font-weight: 400;
      }
      .name-text-desc{
        color: var(--thoughtware-gray-500);
        font-size: var(--thoughtware-font-13);
      }
    }
    .repository-tables-set{
      cursor: pointer;
      .actions-se{
        font-size: 16px;
      }
      &:hover{
        color: var(--thoughtware-blue);
      }
    }
    .repository-tables-collect{
      cursor: pointer;
      .icon{
        width: 19px !important;
        height: 19px !important;
      }
    }
    .imgs{
      width: 24px;
      height: 24px;
    }
  }

}
