.group-repository{
    &-head{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;


        .head-left{
            display: flex;
            flex-direction: row;
            align-items: center;
            .head-left-icon{
                margin-right: 8px;
            }
            .head-left-desc{
                .desc-name{
                    font-weight: var(--thoughtware-font-weight-bold);
                    &:hover{
                        text-decoration: underline;
                    }
                }
                .desc-lock{
                    padding: 0 8px;
                }
                .desc-type{
                    display: inline-block;
                    color: #707070;
                    font-size: 12px;
                    line-height: 20px;
                    padding: 0 7px;
                    border: 1px solid #e5e5e5;
                    border-radius: 100px;
                    font-weight: 400;
                }
            }
        }
    }

    .group-repository-filter {
        display: flex;
        align-items: center;
        gap:15px
      /*  justify-content: end;*/
    }

}


.group-listname-icon{
    display: inline-block;
    width: var(--thoughtware-icon-size-45);
    height: var(--thoughtware-icon-size-45);
    line-height: var(--thoughtware-icon-size-45);
    margin-right: 10px;
    border-radius: 4px;
    text-align: center;
    color: black;
}
.xcode-icon-0 {
     background: #cadbf3;
 }

.xcode-icon-1 {
    background: #ffebee;
}
.xcode-icon-2 {
    background: #e8eaf6;
}
.xcode-icon-3 {
    background: #e0f2f1;
}

.xcode-icon-4 {
    background: #f3e5f5;
}
