.xcode-layout{
    display: flex;
    width: 100%;
    height: 100%;
    .xcode-layout-content{
        flex: 1;
        height: 100%;
        overflow: auto;
    }
    .scrum-aside{
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 180px;
        height: 100%;
        background: var(--xcode-sider-color);
        .scrum-aside-up{
            flex: 1;
        }
        .scrum-aside_chang{
            display: flex;
            align-items: center;
            padding: 0 10px;
            height: 50px;
            cursor: pointer;
            .dropdowns_name{
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
                width: calc(100% - 50px);
            }
        }
        .scrum-aside-item{
            padding: 8px 20px;
            cursor: pointer;
            display: flex;
            align-items: center;
            flex-direction: row;
            &:hover{
                background: var(--thoughtware-gray-300);
            }
            &-icon{
                padding-right: 10px;
                font-size: 16px;
            }
        }
        .scrum-aside-select{
            background: var(--thoughtware-gray-400);
            border-left: 3px solid var(--thoughtware-blue);
        }
    }
    .normal-aside{
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 81px;
        min-width: 81px;
        height: 100%;
       /* background: var(--xcode-sider-color);*/
        background-color: var(--thoughtware-left-nav);
        border-right: 1px solid #EBECF0;
        .normal-aside-up{
            flex: 1;
        }
        .normal-aside_chang{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 20px;
            height: 50px;
            cursor: pointer;
        }
        .normal-aside-item{
            cursor: pointer;
            display: flex;
            height: 50px;
            align-items: center;
            padding: 5px 0;
            flex-direction: column;
            justify-content: center;
            &:hover{
                background: var(--thoughtware-gray-300);
            }
            &:not(:last-child){
                margin-bottom: 5px;
            }
        }
        .normal-aside-select{
            background: var(--thoughtware-gray-400);
            border-left: 3px solid var(--thoughtware-blue);
        }
        .normal-aside_content_icon{
            font-size: var(--thoughtware-icon-size-16);
        }
    }

    .go-back-style{
        margin: 10px 0;
        border-bottom: 1px solid #d7d7d7;
        .nav-go-back{
            display: flex;
            width: 100%;
            align-items: center;
            flex-direction: column;

            margin: 10px 0;
            cursor: pointer;
            .nav-go-back-icon{
                width: 27px;
                height: 27px;
            }
            &:hover{
                background-color: var(--thoughtware-gray-400);
            }
        }
    }
}


.aside-dropdown{
    top: 48px !important;
    box-shadow: 0 4px 8px -2px #091e4240, 0 0 1px #091e424f;
    border-radius: 4px ;
    background-color: #ffffff;
    &-normal{
        left: 80px !important;
    }
    &-scrum{
        left: 180px !important;
    }
    .menu-toggle{
        width: 240px;
        min-height: 100px;
        &-title{
            font-weight: var(--thoughtware-font-weight-bold);
            padding: 0 var(--thoughtware-padding-item);
            height: 40px;
            line-height: 40px;
            border-bottom: 1px solid var(--thoughtware-gray-200);
        }
        &-group{
            max-height: 500px;
            overflow: auto;
        }
        &-item{
            display: flex;
            padding: 0 var(--thoughtware-padding-item);
            height: 40px;
            line-height: 40px;
            align-items: center;
            cursor: pointer;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 240px;
            &:hover{
                background: #f4f4f4;
            }
        }
        &-icon{
            display: inline-block;
            width: 25px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            margin-right: 15px;
            border-radius: 3px;
        }
        &-active{
            background:#f4f4f4;
        }
        &-tail{
            cursor: pointer;
            padding: 5px 0;
            text-align: center;
            border-top: 1px solid var(--thoughtware-gray-200);
            color: #3967FF;
        }
        .cursor:hover{
            background-color: #f6f6f6;
        }
    }
}


