.storehouse-add{
    .ant-modal-body{
        height: 100%;
        overflow: auto;
        padding: 0;
        background: var(--tiklab-gray);
    }
    .ant-modal-footer{
        display: none;
    }
    .storehouseAddModal{
        max-width: 900px;
        margin: auto;
        padding: 20px;
        &-top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: var(--tiklab-padding-item);
            .storehouseAddModal-top-title{
                font-size: 15px;
                font-weight: var(--tiklab-font-weight-bold);
            }
            .storehouseAddModal-top-leadingIn{
                .leadingIn{
                    color: var(--tiklab-blue);
                    cursor: pointer;
                }
            }
        }
        &-content{
            .storehouseAddModal-new{
                .storehouseAddModal-path{
                    display: flex;
                    .path-tips{
                        flex: 1;
                        .ant-form-item-label,.ant-form-item-explain{
                            margin-left: -350px;
                        }
                    }
                }
                .storehouseAddModal-user{
                    padding-bottom: var(--tiklab-padding-item);
                    .storehouseAddModal-user-title{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-bottom: 8px;
                    }
                    .storehouseAddModal-user-table{
                        background: #ffffff;
                        padding: 8px;
                        min-height: 240px;
                    }
                }
            }
            .storehouseAddModal-old{
                .steps-content {
                    min-height: 100px;
                }
                .ant-steps-item-icon{
                    padding-top: 7px;
                }
            }

        }
    }
}

.storehouseAddModal-user-add{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--tiklab-padding-item);
    font-weight: var(--tiklab-font-weight-bold);
    .user-add-close{
        cursor: pointer;
    }
}
