.sys-keys{
    .sys-keys-up{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .sys-keys-ill{
        margin: var(--tiklab-padding-item) 0;
        padding: 10px;
        background: #F8FFFF;
        color: var(--tiklab-blue);
        border: 1px solid #e3e9ed;
    }

    .sys-keys-table{
        display: flex;
        gap: 25px;
        flex-direction: column;
        .sys-keys-nav{
            display: flex;
            gap: 10px;
            justify-content: space-between;
            align-items: center;
            .sys-keys-data{
                display: flex;
                gap: 10px;
                align-items: center;
                .sys-keys-data-icon{
                    border: 1 solid var(--tiklab-gray-300);
                    background-color: #d8ecff;
                    padding: 10px;
                    border-radius: 2px;
                }
                .sys-keys-data-title{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    .sys-keys-data-title-text{
                        font-weight: 500;
                    }
                }
                .sys-keys-data-desc{
                    display: flex;
                    gap: 15px;
                    padding-top: 6px;
                    color: var(--tiklab-gray-500);
                    font-size: var(--tiklab-font-13);
                }
            }
            .sys-keys-icon{
                display: flex;
                gap: 15px;
            }

        }
    }


}


.sys-keys-add{
    display: flex;
    gap: 10px;
    flex-direction: column;
    .sys-keys-add-title{
        display: flex;
        gap: 5px;
        .sys-keys-add-text{
            color: #666;
            font-size: 13px;
            font-weight: 500;
        }
        .sys-keys-add-icon{
            color: #666;
            cursor: pointer;
        }
    }
}





.auth-add-desc{
    color: #999999;
}
.auth-add-desc-cursor{
    cursor: pointer;
    color: #1890ff;
}

