.hooks{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px 30px;
    min-width: var(--project-setting-min-width);
    &-up{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &-illustrate{
        display: flex;
        margin: var(--tiklab-padding-item) 0;
        padding: 10px;
        background: #F8FFFF;
        color: var(--tiklab-blue);
        border: 1px solid #e3e9ed;
        &>div:not(:last-child){
            padding-bottom: 10px;
        }
    }
}

.hooks-add-content{
    padding: 0 var(--tiklab-padding);
    max-height:calc(100% - 120px);
    overflow:auto;
    .event-check{
        display: flex;
        flex-direction: row;
        .event-check-value{
            min-width: 100px;
        }
        .event-check-desc{
            color: var(--tiklab-gray-500);

        }
    }
    .activate{
        .activate-title{
            font-weight: var(--tiklab-font-weight-bold);
        }
        .activate-desc{
            color: var(--tiklab-gray-500);
        }
    }
}
