.repository-group-add{
    height: 100%;
    overflow: auto;
    .repository-group-add-content{
        max-width: 900px;
        margin: auto;
        padding: 20px;
        .repository-group-add-top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: var(--thoughtware-padding-item);
            .repository-group-add-top-title{
                font-size: 15px;
                font-weight: var(--thoughtware-font-weight-bold);
            }
            .repository-group-add-top-leadingIn .leadingIn{
                color: var(--thoughtware-blue);
                cursor: pointer;
            }
        }
    }
}

