.scanScheme{
  display: flex;
  height: 100%;
  .scheme-left-style{
    width: 260px;
    height: auto;
    border-right: 1px solid #e3e9ed;
    .scan-title-nav{
      margin: 15px 0 10px 15px;
      display: flex;
      align-items: center;
      cursor: pointer;
      .scan-title{
        flex: 1;
        font-size: 16px;
        font-weight: var(--thoughtware-font-weight-bold);
      }
      .scan-icon{
        margin-right: 10px;
      }
    }
    .scheme-nav{
      padding: 10px 0;
      margin-left: 15px;
      .scheme-nav-dec{
        font-size: 13px;
        color: #94979a;
      }
    }

    .cate-li{
      position: relative;
      cursor: pointer;
    }
    .categoryNav-li:hover{
      background-color: var(--git-hover-color);
    }
    .choices-scheme-nav{
      background-color: var( --git-action-color);
    }

    .category-action {
      display: none;
      width: 50px;
      font-size: 24px;
      .category-action-more {
        width: 60px;
        display: flex;
        justify-content: space-around;
      }
      .category-action-right{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
      }
    }

    .cate-li:hover .category-action{
      display: block;
      position: absolute;
      right: 10px;
      top: 0;
      height: 100%;
    }
  }


  .scheme-right-style{
    flex: 1;
    max-width: 1280px;
    min-width: 508px;
    margin: 0 auto ;
    padding: var(--thoughtware-padding);
    overflow: auto;
    .data-title-desc{
      display: flex;
      gap: 25px;
      margin: 10px 0;
      color: #94979a;
    }
    .tab-style{
      display: flex;
      gap: 18px;
      .choose-tab-nav{
        color: #0063FF;
        border-bottom:2px solid #0063FF;
      }
      .tab-nav{
        font-size: var(--thoughtware-font-14);;
        cursor: pointer;
        height: 50px;
        line-height: 50px;
        margin-top: 10px;
      }
    }
    .tab-data{
      margin-top: 13px;
    }

    .add-rule-style{
      text-align: end;
      margin-top: 5px;
    }
  }


  .scanScheme-up{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .scanScheme-table{
    padding-top: var(--gittork-table-top);
  }
  .scanScheme-ill{
    margin: var(--thoughtware-padding-item) 0;
    padding: 10px;
    background: #F8FFFF;
    color: var(--thoughtware-blue);
    border: 1px solid #e3e9ed;
  }
  .scanScheme-table-title{
    color: var(--thoughtware-blue);
    cursor: pointer;
  }
}
.scanScheme-add-modal{
  .scanScheme-add-up{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--thoughtware-font-weight-bold);
    padding: var(--thoughtware-padding) var(--thoughtware-padding) var(--thoughtware-padding-item);
  }
  .scanScheme-add-content{
    padding: 0 var(--thoughtware-padding);
    overflow:auto;
  }
}
