.scanRule{
  .scanRule-up{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .scanRule-table{
    padding-top: var(--gittork-table-top);
  }
}
