.scheme-drawer{
  .scheme-drawer-title {
    display: flex;
    gap: 20px;
    .scheme-drawer-dec{
      color: #94979a;
    }
  }
  .scheme-drawer-border-style{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 20px;
    .scheme-drawer-border{
      border:1px solid #cccccc;
      cursor: pointer;
      padding: 20px;
    }
    .choice-scheme-drawer-border{
      border:1px solid #1890ff;
      cursor: pointer;
      padding: 20px;
    }
    .data-title{
      font-size: 14px;
      font-weight: bold;
    }
    .data-desc{
      color: #94979a;
      padding-top: 10px;
    }

  }

}
