.scanSchemeRuleSet-style{
  position: relative;
  .border-style{
    border:1px solid #cccccc;
    cursor: pointer;
    .border-data-style{
      padding: 20px;
      .data-title{
        font-size: 14px;
        font-weight: bold;
      }
      .data-desc{
        color: #94979a;
        padding-top: 10px;
      }
      .data-desc-rule{
        color: rgb(250, 140, 21);;
        padding-top: 10px;
      }

      .data-rule-style{
        padding-top: 15px;
        color: #94979a;
        display: flex;
        .data-rule{
          flex: 1;
        }
      }
    }
  }
  .border-style-disabled{
    cursor:not-allowed;
  }
}

.scanSchemeRuleSet-style:hover .delete-icon{
  display: block;
  position: absolute;
  right: 5px;
  top: 0;
  height: 100%;
}

.delete-icon{
  display: none;
  text-align: end;
  font-size: 16px;
  cursor: pointer;
  color: #94979a;
}

@media (max-width: 1024px){
  .ruleSet{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}

@media (min-width: 1025px){
  .ruleSet{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}
@media (min-width: 1400px){
  .ruleSet{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}


