.blob{
    .blob-content{
        display: flex;
        flex-direction: column;
        height: 100%;
        &-head{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: var(--tiklab-padding-item) 0;
            .blob-head-left{
                flex: 1;
                display: flex;
                align-items: center;
                .blob-branch{
                    width: 160px;
                    margin-right: var(--tiklab-padding-item);
                    .ant-select{
                        width: 100% !important;
                    }
                }
                .blob-bread{
                    display: flex;
                    .bread-item{
                        &:not(:last-child){
                            margin-right: 5px;
                        }
                        &:nth-child(odd):hover{
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                }
            }
            .blob-head-right{
                display: flex;
                align-items: center;
                .blob-search{
                    margin-left: var(--tiklab-padding-item);
                    font-size: 16px;
                    cursor: pointer;
                }
                .blob-file-add{
                    margin-left: var(--tiklab-padding-item);
                    font-size: 16px;
                    cursor: pointer;
                }
                .blob-desc{
                    margin-left: var(--tiklab-padding-item);
                }
                .blob-clone{
                    margin-left: var(--tiklab-padding-item);
                }
            }
        }
        &-editor{
            flex: 1;
            display: flex;
            flex-direction: column;
            .blob-editor-title{
                display: flex;
                align-items: center;
                flex-direction: row;
                background-color: #f4f4f4;
                padding: 8px 16px;
                .editor-title-left{
                    flex: 1;
                    .editor-title-text{
                        font-size: 13px;
                        font-weight: var(--tiklab-font-weight-bold);
                    }
                    .editor-title-size{
                        padding: 0 8px;
                    }
                    .editor-title-copy{
                        cursor: pointer;
                    }
                }
                .editor-title-right{
                    display: flex;
                    flex-direction: row;
                    border: 1px solid #d9d9d9;
                    .editor-title-item{
                        height: 32px;
                        line-height: 32px;
                        padding: 0 10px;
                        border-right: 1px solid #d9d9d9;
                        cursor: pointer;
                        background-color: #ffffff;
                        &:not(:last-child){
                            border-right: 1px solid #d9d9d9;
                        }
                    }
                }
            }
            .blob-editor-content{
                flex: 1;
                width: 100%;
                border-left: 1px solid #d9d9d9;
                border-right: 1px solid #d9d9d9;
            }
        }
    }
}

.bold-del-modal{
    .bold-del-up{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-weight: var(--tiklab-font-weight-bold);
        padding: var(--tiklab-padding) var(--tiklab-padding) var(--tiklab-padding-item);
    }
    .bold-del-content{
        padding: 0 var(--tiklab-padding);
        max-height:calc(100% - 120px);
        overflow:auto;
    }
}
