.code-head-left{
    flex: 1;
    display: flex;
    .code-branch{
        width: 160px;
        margin-right: var(--tiklab-padding-item);
        .ant-select{
            width: 100% !important;
        }
    }
    .code-bread{
        display: flex;
        flex-wrap: wrap;
        padding: 4px 0;
        .bread-item{
            word-break: break-all;
            &:not(:last-child){
                margin-right: 5px;
            }
            &:nth-child(odd):hover{
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}
