.commitsDetails{
    height: 100%;
   /* overflow: auto;*/
    display: flex;
    &-head{
        margin-bottom: var(--tiklab-padding-item);
        padding: var(--tiklab-padding-item);
        background-color: #f7f7f7;
        border-radius: 4px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 20px;
        .commitsDetails-head-left{
            display: flex;
            gap: 10px;
            flex-direction: column;
            flex: 1;
            width: 65%;
            .head-left-title{
                display: flex;
                gap: 10px;
                align-items: center;
                .head-left-title-icon{
                    cursor: pointer;
                }
            }
            .commitsDetails-head-left-desc{
                display: flex;
                gap: 15px;
                color: var(--tiklab-gray-500);
                .head-left-desc-parent-commit{
                    display: flex;
                    gap: 7px;
                }
            }
            .head-title-icon .head-icon{
                padding-left: 5px;
                cursor: pointer;
            }
            .head-divider{
                height: 0.9em;
                margin: 0 8px;
                vertical-align: middle;
                border-top: 0;
                border-left: 1px solid #d9d9d9;
            }
            .head-user-time .head-time{
                padding-right: 5px;
            }
        }
        .commitsDetails-head-right{
            display: flex;
            width: 35%;
            justify-content: space-between;
            align-items: center;
            .head-variation{
                .contrast-affected-num{
                    color: var(--tiklab-gray-500);
                    .num-icon{
                        padding: 0 5px;
                    }
                    .num-add{
                        color: var(--tiklab-gree);
                    }
                    .num-reduce{
                        color: #ff0000;
                    }
                }
            }
        }

    }
    &-contrast{
        .commitsDetails-contrast-content{
            .contrast-title{
                display: flex;
                border-bottom: 1px solid #d9d9d9;
                margin-bottom: var(--tiklab-padding-item);
            }
            .contrast-affected{
                display: flex;
                flex-direction: row;
                align-items: center;
                .contrast-affected-opt{
                    margin-right: 10px;
                    cursor: pointer;
                    .affected-opt-input{
                        display: flex;
                        cursor: pointer;
                        padding: 5px 10px;
                        background-color: #f7f7f7;
                        width: 150px;
                        border-radius: 4px;
                        align-items: center;
                        justify-content: space-between;

                    }
                }

            }
            .contrast-content {
                padding-top: 10px;
                .contrast-content-desc{
                    color: #9b9b9b;
                    padding: 5px 0 20px 0;
                }

                .contrast-content-title{
                    display: flex;
                    justify-content: space-between;
                    font-size: 13px;
                    color: #777;
                    font-weight: 600;
                    border-bottom: solid 1px #f0f0f0;
                    padding: 10px ;
                    .content-title-exec{
                        margin-right: 60px;
                    }
                }
                .contrast-content-item{
                    .item-head{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 8px;
                        .item-head-icon{
                            margin-right: 8px;
                            cursor: pointer;
                            font-size: 12px;
                        }
                        .item-head-file{
                            flex: 1;
                            .item-title-title{
                                display: inline-block;
                                vertical-align: middle;
                                max-width: 800px;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                -o-text-overflow: ellipsis;
                                font-weight: 500;
                                padding-right: 8px;
                            }
                            .item-title-type{
                                font-size: var(--tiklab-font-13);
                                color: var(--tiklab-gray-500);
                                padding-right: 8px;
                            }
                            .item-title-icon{
                                cursor: pointer;
                            }
                        }
                    }
                    .item-content{
                        padding: 8px;
                    }
                }
            }

        }
    }

    .commit-title-style{
        justify-content: space-between;
        display: flex;
        align-items: center;
    }
}



.commits-diff-drop-title{
    box-shadow: 0 4px 8px -2px #091e4240, 0 0 1px #091e424f;
    border-radius: 4px;
    background-color: #ffffff;
    width: 500px;
    .commits-diff-drop-title-input{
        padding: 8px;
        .input-icon{
            font-size: var(--tiklab-input-icon-15);
        }
    }
    .commits-diff-drop-title-content{
        max-height: 300px;
        overflow-y: auto;
        padding-bottom: 10px;
    }
    .commits-diff-drop-title-item{
        padding: 8px 15px;
        width: 100%;
        display: flex;
        flex-direction: row;
        &:hover{
            cursor: pointer;
            background-color: #f8f8f8;
        }
        .diff-drop-title-item-icon{
            margin-right: 8px;
        }
        .diff-drop-title-item-title{
            display: inline-block;
            overflow: hidden;
            width: calc(100% - 50px);
            white-space: nowrap;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            vertical-align: middle;
        }
        .diff-drop-title-item-add,.diff-drop-title-item-delete{
            padding-left: 8px;
        }
        .diff-drop-title-item-add{
            color: var(--tiklab-gree);
        }
        .diff-drop-title-item-delete{
            color: #ff0000;
        }
    }
}

.commit-page-width{
    width: 100%;;
    height: 100%;
    overflow: auto;
    padding: 20px 50px;
    .ant-col{
        min-width: 720px;
    }
}
