@font-face {
  font-family: "iconfont"; /* Project id 3873189 */
  src: url('iconfont.woff2?t=1675072891412') format('woff2'),
       url('iconfont.woff?t=1675072891412') format('woff'),
       url('iconfont.ttf?t=1675072891412') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weidaqiadewenjianjia:before {
  content: "\e600";
}

.icon-JavaScript:before {
  content: "\e704";
}

.icon-xiazai:before {
  content: "\e620";
}

.icon-postcss:before {
  content: "\e67f";
}

.icon-webpack:before {
  content: "\e6ae";
}

.icon-json:before {
  content: "\e639";
}

