.xcode-page{
    width: 100%;
    text-align: center;
    padding-top: 10px;
    height: 47px;
    border-top: 1px solid var(--thoughtware-gray-200);
    .xcode-page-ban{
        cursor:not-allowed;
        color: var(--thoughtware-gray-500);
    }
    .xcode-page-allow{
        cursor: pointer;
        &:hover{
          color: var(--thoughtware-blue);
        }
    }
    .xcode-page-icon{
       padding: 0 5px;
    }
    .xcode-page-current{
        color: var(--thoughtware-blue);
    }

}
