.clean-order {
    height: 100%;
    width: 100%;
    min-width: 500px;
    padding: 0 15px;
    .clean-data-desc{
        margin-bottom: 15px;
        padding: 10px;
        background: #F8FFFF;
        color: var(--tiklab-blue);
        border: 1px solid #e3e9ed;
    }
    .clean-data-bottom{
        height: calc(100% - 83px);
        display: flex;
        gap: 20px;
        flex-direction: column;
        .clean-data-title{
            font-size: 15px;
            font-weight: var(--tiklab-font-weight-bold);
        }
        .data-nav{
            display: flex;
            gap: 10px;
            flex-direction: column;
            .clean-detail-log {
                flex: 1;
                overflow: auto;
                border-radius: 4px;
                padding: 10px;
                background: #000000;
                color: #ffffff;
                word-wrap: break-word;
                white-space: pre-wrap;
            }
            .clean-detail-last{
                margin-bottom: 20px;
            }

        }
    }
}
