.dev-deploy-add-modal{
  .dev-deploy-add-up{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--thoughtware-font-weight-bold);
    padding: var(--thoughtware-padding) var(--thoughtware-padding) var(--thoughtware-padding-item);
  }
  .dev-deploy-add-content{
    padding: 0 var(--thoughtware-padding);
    overflow:auto;
  }
}
