.info-setting-type{
  display: flex;
  .info-setting-title{
    font-size: var(--tiklab-font-13);;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
  }
  .info-setting-title-m{
    margin: 0 20px;
  }
  .choose_type{
    color: #0063FF;
    border-bottom:2px solid #0063FF;
  }
  .type-title-m{
    margin: 0 20px;
  }
}
.info-setting-top{
  padding-top: 20px;
}
