.sonar{
  .sonar-content{
    &-top,&-type{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 30px;
    }

    &-but{
      display: flex;
      .apart{
        padding-right: 10px;
      }
    }
    &-tables{
      .sonar-tables-item{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px;
        .sonar-tables-icon{
          border: 1px solid #d9d9d9;
          padding: 8px;
          display: inline-block;
          height: 32px;
          margin-right: 10px;
        }
        .sonar-tables-commit{
          width: 130px;
          text-align: center;
          position: relative;
          .commit-num-left{
            margin-right: 5px;
            padding-right: 5px;
            border-right: 1px solid #d9d9d9;
          }
        }
        .sonar-tables-name{
          flex: 1;
          .name-text-name{
            font-weight: var(--tiklab-font-weight-bold);
            margin-right: 8px;
            cursor: pointer;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: top;
            white-space: nowrap;
            max-width: 270px;
            &:hover{
              text-decoration: underline;
            }
          }
          .name-text-default{
            margin-right: 8px;
          }
          .name-text-type{
            display: inline-block;
            background: #02a7f0;
            color: #ffffff;
            font-size: 12px;
            line-height: 20px;
            padding: 0 7px;
            border: 1px solid #e5e5e5;
            border-radius: 100px;
            font-weight: 400;
          }
          .name-text-desc{
            color: var(--tiklab-gray-500);
            font-size: var(--tiklab-font-13);
            .desc-name{
              margin-right: 8px;
            }
          }
        }
        .sonar-tables-action{
          display: flex;
          flex-direction: row;
          .sonar-tables-combine,.sonar-tables-compare,.sonar-tables-download{
            background: #f4f4f4;
            cursor: pointer;
            margin-right: 8px;
            border-radius: 4px;
          }
          .sonar-tables-combine,.sonar-tables-compare{
            padding: 6px;
          }
          .sonar-tables-download{
            padding: 8px 6px;
          }
          .sonar-tables-del,.no-del{
            height: 32px;
            padding: 8px 6px;
            border-radius: 4px;
          }
          .sonar-tables-del{
            background: #ff0000;
            color: #ffffff;
            cursor: pointer;
          }
          .no-del{
            color: rgba(0,0,0,.25);
            background: #f5f5f5;
            cursor: not-allowed;
          }
        }
      }

    }
    &-data{
      display: flex;
      .result{
        border: 1px solid #d9d9d9;
        padding: 30px 100px 50px 30px;
        height: 150px;
        &-text{
          font-size: 18px;
          color: #feedf0;
        }
        &-text-top{
          padding-top: 10px;
        }
        &-success{
          background-color:#63a35c;
        }
        &-false{
          background-color:#DD4A68;
        }
        &-not{
          background-color: #999999;
        }
      }
      .result-detail{
        padding-left: 30px;
       &-border{
         width: 700px;
       }
        &-nav{
          padding: 30px 10px;
          border-bottom: 1px solid #d9d9d9;
          font-size: 15px;
          &-text{
            padding-left: 30px;
            font-size: 30px;
            cursor: pointer;
          }
        }
      }
    }
    &-log{
      height: 300px;
      background-color: #000c17;
      color: #f6f6f6;
    }
    &-button{
      margin-top: 30px;
      text-align: right;
    }
    .not-data-desc{
      text-align: center;
      margin-top: 100px;
      .desc-title{
        font-weight: 500;
        font-size: 20px;
        padding-bottom: 10px;
      }
    }
  }
}

.sonar-add-modal{
  .sonar-add-up{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--tiklab-font-weight-bold);
    padding: var(--tiklab-padding) var(--tiklab-padding) var(--tiklab-padding-item);
  }
  .sonar-add-content{
    padding: 0 var(--tiklab-padding);
    max-height:calc(100% - 120px);
    overflow:auto;
  }
}
