.merge-add-drop{
  box-shadow: 0 4px 8px -2px #091e4240, 0 0 1px #091e424f;
  border-radius: 4px;
  background-color: #ffffff;
  width: 500px;
  .merge-add-drop-input-pad{
    padding: 8px;
  }
  .merge-add-drop-content{
    max-height: 300px;
    overflow-y: auto;
    .merge-add-drop-nav:hover{
      cursor: pointer;
      background-color:#f6f6f6;
    }
    .merge-add-drop-nav-title{
      padding: 8px;
    }
  }
}
