.merge-verify{
  display: flex;
  height: 100%;
  .merge-verify-content {
    /*  display: flex;
      justify-content: space-between;*/
    align-items: center;
    margin-bottom: 10px;

    .contrast-content-desc{
      color: #9b9b9b;
      padding-top: 7px;
    }
    .merge-verify-title{
      display: flex;
      gap: 10px;
      flex-direction: column;
      margin-top: 10px;
      .merge-verify-border{
        display: inline-block;
        white-space: nowrap;
        text-align: center;
        cursor: pointer;
        padding: 2px;
        width: 50px;
        border-radius: 3px;
      }
      .merge-verify-border-open{
        border: 0 solid var(--tiklab-merge-back-gree);
        background-color: var(--tiklab-merge-back-gree);
        color: var(--tiklab-merge-text-gree);
      }
      .merge-verify-border-close{
        background-color: var(--tiklab-gray-200);
        color: var(--tiklab-gray-500);
      }
      .merge-verify-border-success{
        background-color: #d8ecff;
        color: var(--tiklab-blue);
      }

      .merge-verify-title-nav{
          display: flex;
          justify-content: space-between;
          align-items: center;
        .merge-verify-title-desc{
          display: flex;
          gap: 12px;
          color: #999999;
          .title-desc-merge{
            display: flex;
          }
          .title-desc-border{
            color: #1890ff;
            padding: 0 10px;
            cursor: pointer;
          }
        }

        .merge-verify-title-bt{
          display: flex;
          gap: 15px;
          align-items:center;
          .title-bt-desc{
            display: flex;
            align-items:center;
            gap: 2px;
            cursor: pointer;
            .title-bt-desc-color{
              color: #999999;
            }
          }
        }
      }
    }
    .merge-verify-table {
      margin-top: 5px;
    }
  }
}


.merge-auditor-menu{
  box-shadow: 0 4px 8px -2px #091e4240, 0 0 1px #091e424f;
  border-radius: 4px;
  background-color: #ffffff;
  width: 100px;
  .auditor-menu-nav{
    padding: 6px;

    &:hover{
      background-color: #EBECF0;
      cursor: pointer;
    }
}
}
.merge-select-menu {
  box-shadow: 0 4px 8px -2px #091e4240, 0 0 1px #091e424f;
  border-radius: 4px;
  background-color: #ffffff;
  width: 300px;

  .merge-select-nav{
    padding: 10px ;
    &:hover{
      background-color: #EBECF0;
      cursor: pointer;
    }
    .merge-select-nav-desc{
      color: var(--tiklab-gray-500);
      font-size: var(--tiklab-font-13);
    }
  }
}
.merge-close-menu {
  box-shadow: 0 4px 8px -2px #091e4240, 0 0 1px #091e424f;
  border-radius: 4px;
  background-color: #ffffff;

  .close-menu-nav{
    padding: 10px 0;
    text-align: center;
    &:hover{
      background-color: #EBECF0;
      cursor: pointer;
    }
  }
}

.select-view{
  position: relative;
  cursor: pointer;
  .select-content{
    display: flex;
    padding: 5px 10px;
    background: var(--tiklab-blue);
    color: #ffffff;
    width: 100px;
    border-radius:3px;
    align-items: center;
    justify-content: space-between;
    .select-number {
      width: 16px;
      height: 16px;
      line-height: 16px;
      text-align: center;
      background: #e3e8f0;
      border-radius: 16px;
      font-size: 12px;
    }
  }
}
.merge-page-width{
  width: 100%;;
  height: 100%;
  overflow: auto;
  padding: 20px 50px;
  .ant-col{
    min-width: 720px;
  }
}
