.merge{
    &-top,&-filter{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        .input-icon{
            font-size: var(--tiklab-input-icon-15);
        }
    }
    &-tables{
        display: flex;

        flex-direction: column;
        .tables-nav{
            &:hover{
                background-color: var(--tiklab-gray-300);
            }
            .tables-nav-style{
                align-items: center;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                padding:10px;
            }
            .tables-nav-left{
                display: flex;
                align-items: center;
                gap: 20px;
                .tables-nav-desc{
                    display: flex;
                    gap: 15px;
                    padding-top: 6px;
                    color: var(--tiklab-gray-500);
                    font-size: var(--tiklab-font-13);
                }
                .tables-nav-icon{
                    border: 1px solid #d9d9d9;
                    display: inline-block;
                    margin-right: 10px;
                    border-radius: 4px;
                    .tables-nav-icon-open{
                        color: var(--tiklab-merge-text-gree);
                        font-size:20px;
                        font-weight:var(--tiklab-font-weight-bold);
                        padding: 5px;
                    }
                    .tables-nav-icon-merge{
                        font-size:20px;
                        font-weight:var(--tiklab-font-weight-bold);
                        padding: 5px;
                    }
                    .tables-nav-icon-close{
                        color: var(--tiklab-red);
                        font-size:20px;
                        font-weight:var(--tiklab-font-weight-bold);
                        padding: 5px;
                    }
                }
                .tables-nav-title{
                    font-weight: var(--tiklab-font-weight-bold);
                    &:hover{
                        text-decoration: underline;
                    }
                }

            }
            .tables-nav-right{
                display: flex;
                gap: 30px;
                align-items: center;
                justify-content: end;
                .tables-nav-right-style{
                    display: flex;
                    text-align: center;
                    justify-content: end;
                }
                .tables-nav-right-desc{
                    display: flex;
                    color: var(--tiklab-gray-500);
                    font-size: var(--tiklab-font-13);
                    justify-content:end;
                    margin-top: 5px;
                }
                .tables-nav-state{
                    border: 0 solid var(--tiklab-merge-back-gree);
                    background-color: var(--tiklab-merge-back-gree);
                    color: var(--tiklab-merge-text-gree);
                    padding: 2px 4px;
                    border-radius: 4px;
                    width: 80px;

                }
                .tables-nav-state-clash{
                    border: 0 solid var(--tiklab-merge-back-red);
                    background-color: var(--tiklab-merge-back-red);
                    color: var(--tiklab-merge-text-red);
                    padding: 2px 4px;
                    border-radius: 4px;
                    width: 80px;
                }
                .tables-nav-state-merge{
                    border: 0 solid var(--tiklab-gray-300);
                    background-color: #d8ecff;
                    color: var(--tiklab-blue);
                    padding: 2px 4px;
                    border-radius: 4px;
                    width: 80px;
                }
                .tables-nav-state-close{
                    border: 0 solid var(--tiklab-gray-200);
                    background-color: var(--tiklab-gray-200);
                    color: var(--tiklab-gray-500);
                    padding: 2px 4px;
                    border-radius: 4px;
                    width: 80px;
                }
            }
        }
        .tables-status{
            display: inline-block;
            font-size: 12px;
            line-height: 20px;
            padding: 0 7px;
            border: 1px solid #e5e5e5;
            border-radius: 100px;
        }

        .status-1{
            background: #9ee09e;
        }
        .status-2{
            background: #d9d9d9;
        }
        .status-3{
            background: #02a7f0;
        }
    }
}



.merge-add-modal{
    .merge-add-up{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-weight: var(--tiklab-font-weight-bold);
        padding: var(--tiklab-padding) var(--tiklab-padding) var(--tiklab-padding-item);
    }
    .merge-add-content{
        padding: 0 var(--tiklab-padding);
        max-height:calc(100% - 120px);
        overflow:auto;
        .merge-add-branch{
            display: flex;
            flex-direction: row;
            align-items: center;
            .ant-form-item{
                flex: 1;
            }
            .add-branch-arrow{
                margin: 0 var(--tiklab-padding-item);
                padding-top: 20px;
            }
        }
    }
}

