.clash-edit{
  .clash-edit-content{
    align-items: center;
    margin-bottom: 10px;
    height: calc(100vh - 180px);
    .clash-edit-title-style{
      display: flex;
      justify-content: space-between;
      .clash-edit-title-text{
        padding: 10px 17px;
      }
    }
    .clash-edit-body{
      border-top:1px solid var(--thoughtware-gray-200);
      height: 100%;
      width: 100%;
      display: flex;
      .edit-body-left{
        width: 25%;
        border-right:1px solid var(--thoughtware-gray-200);
        .body-left-title{
          padding: 10px 0;
          font-weight: 490;
        }
        .edit-left-body{
          display: flex;
          flex-direction: column;
          height: 100%;
          margin-right:10px;
          /*overflow: auto;*/
          .left-body-nav{
            cursor: pointer;
            margin-right: 10px;
            width: 100%;
          }
          .left-body-nav-text{
            display: inline-block;
            vertical-align: middle;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            width: 100%;
            margin-right: 10px;
            padding: 7px 0 7px 7px;
          }
          .cute-body-nav{
            background: var(--thoughtware-merge-back-gray);

            width: 100%;
            border-radius: 4px;
          }
        }
      }
      .edit-body-right{
        width: 75%;
        flex: 1;
        padding-left: 15px;
        .body-right-title{
          padding: 10px 0;
          font-weight: 490;
        }
        .edit-right-body{
          display: flex;
          gap: 15px;
          flex-direction: column;
          height: 100%;
          //overflow: auto;
        }
      }
    }
  }
}
