.merge-clash{
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  .merge-clash-nav{
    .merge-clash-title{
      display: flex;
      gap: 10px;
      .merge-clash-text{
        font-weight: 500;
        font-size: 14px;
      }
    }
    .merge-clash-border{
      margin-top: 10px;
      background: var(--thoughtware-gray-200);
      border: 1px solid var(--mf-sider-color);
      padding: 10px;
    }
  }
}
