.repository {
    &-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
    .repository-filter{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        .input-icon{
            font-size: var(--tiklab-input-icon-15);
        }

        .select-right-style{
            display: flex;
            gap: 15px;
            align-items: center;
        }
    }
    &-tables{
        .repository-tables-name{
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
        }
        .name-text{
            flex: 1;
            .name-text-name{
                font-weight: var(--tiklab-font-weight-bold);
                &:hover{
                    text-decoration: underline;
                }
            }
            .name-text-lock{
                padding: 0 8px;
            }
            .name-text-type{
                display: inline-block;
                color: #707070;
                font-size: 12px;
                line-height: 20px;
                padding: 0 7px;
                border: 1px solid #e5e5e5;
                border-radius: 100px;
                font-weight: 400;
            }
            .name-text-desc{
                color: var(--tiklab-gray-500);
                font-size: var(--tiklab-font-13);
            }
        }
        .repository-tables-set{
            cursor: pointer;
            .actions-se{
                font-size: 16px;
            }
            &:hover{
                color: var(--tiklab-blue);
            }
        }
        .repository-tables-collect{
            .icon{
              width: 19px !important;
              height: 19px !important;
            }
        }
        .imgs{
          width: 24px;
          height: 24px;
        }
    }

    .repository-use-top{
        margin-top: 10px;
    }
    .repository-open-record{
        display: flex;
        gap: 1rem;
        margin-top: 5px;
        .houseRecent-border{
            display: block;
            position: relative;
            box-sizing: border-box;
            max-width: 308px;
            background: #f7f7f7;
            border-radius: 3px;
            padding: 16px;
            cursor: pointer;
            .houseRecent-border-flex{
                display: flex;
            }
            .houseRecent-border-text-top{
                padding-top: 15px;
                justify-content: space-between;
                margin:0 10px;
            }
            .houseRecent-border-text{
                flex: 1;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                font-weight: 600;
            }
            .houseRecent-border-desc {
                font-style: inherit;
                margin-top: 7px;
                line-height: 1.45455;
                .title-color{
                    color: #6b778c;
                }
                .desc-text{
                    margin-left: 5px;
                }
            }
        }
        .houseRecent-border-width-20{
            width: 20%;
        }
        .houseRecent-border-width-25{
            width: 25%;
        }
    }

}

