.push-rule{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px 30px;
    min-width: var(--project-setting-min-width);
    &-mode{
        margin: var(--thoughtware-padding-item) 0;
        .mode-title{
            font-size: 13px;
            font-weight: var(--thoughtware-font-weight-bold);
        }
        .mode-swith{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
}
