.push-rule{
    &-mode{
        margin: var(--thoughtware-padding-item) 0;
        .mode-title{
            font-size: 13px;
            font-weight: var(--thoughtware-font-weight-bold);
        }
        .mode-swith{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
}
