.blob{
    .blob-content{
        display: flex;
        flex-direction: column;
        height: 100%;
        &-head{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: var(--thoughtware-padding-item) 0;
            .blob-head-left{
                flex: 1;
                display: flex;
                align-items: center;
                .blob-branch{
                    width: 160px;
                    margin-right: var(--thoughtware-padding-item);
                    .ant-select{
                        width: 100% !important;
                    }
                }
                .blob-bread{
                    display: flex;
                    .bread-item{
                        &:not(:last-child){
                            margin-right: 5px;
                        }
                        &:nth-child(odd):hover{
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                }
            }
            .blob-head-right{
                display: flex;
                align-items: center;
                .blob-search,.blob-file-add{
                    margin-left: var(--thoughtware-padding-item);
                    font-size: 16px;
                    cursor: pointer;
                }
                .blob-download,.blob-clone{
                    margin-left: var(--thoughtware-padding-item);
                }
            }
        }
        &-editor{
            flex: 1;
            display: flex;
            flex-direction: column;
            .blob-editor-title{
                display: flex;
                align-items: center;
                flex-direction: row;
                background-color: #f4f4f4;
                padding: 8px 16px;
                .editor-title-left{
                    flex: 1;
                    display: flex;
                    align-items: center;
                    .editor-title-text{
                        display: flex;
                        font-size: 13px;
                        margin-left: 8px;
                        gap: 10px;
                        .editor-title-text-name{
                            font-weight: var(--thoughtware-font-weight-bold);
                        }
                        .editor-title-text-fls{
                            border:1px solid #cccccc;
                            padding: 0 7px;
                            color: #cccccc;
                            border-radius:4px
                        }
                    }
                    .editor-title-size{
                        padding: 0 15px;
                        .editor-title-size-text{
                            padding: 0 15px;
                        }
                    }
                    .editor-title-copy{
                        cursor: pointer;
                    }
                }
                .editor-title-right{
                    display: flex;
                    flex-direction: row;
                    border: 1px solid #d9d9d9;
                    .editor-title-item{
                        height: 32px;
                        line-height: 32px;
                        padding: 0 10px;
                        border-right: 1px solid #d9d9d9;
                        cursor: pointer;
                        background-color: #ffffff;
                        &:not(:last-child){
                            border-right: 1px solid #d9d9d9;
                        }
                    }
                    .not-editor-title-item{
                        cursor: not-allowed;
                        color: #999999;
                        border-right: 1px solid #d9d9d9;
                        height: 32px;
                        line-height: 32px;
                        padding: 0 10px;
                        &:not(:last-child){
                            border-right: 1px solid #d9d9d9;
                        }
                    }
                }
            }
            .blob-editor-desc{
                display: flex;
                gap: 10px;
                align-items: center;
                justify-content: center;
                margin-top: 60px;
                .blob-editor-desc-download{
                    color: #1890ff;
                    cursor: pointer;
                }
            }

            .blob-editor-content{
                flex: 1;
                width: 100%;

                border-left: 1px solid #d9d9d9;
                border-right: 1px solid #d9d9d9;
                border-bottom: 1px solid #d9d9d9;
            }
        }
    }
}

.bold-del-modal{
    .bold-del-up{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-weight: var(--thoughtware-font-weight-bold);
        padding: var(--thoughtware-padding) var(--thoughtware-padding) var(--thoughtware-padding-item);
    }
    .bold-del-content{
        padding: 0 var(--thoughtware-padding);
        max-height:calc(100% - 120px);
        overflow:auto;
    }
}
