.clone-menu{
    box-shadow: 0 4px 8px -2px #091e4240, 0 0 1px #091e424f;
    border-radius: 4px;
    background-color: #ffffff;
    width: 350px;
    .clone-item{
        padding: 0 var(--thoughtware-padding-item);
        .clone-item-title{
            padding: 10px 0;
        }
        &:last-child{
            margin-bottom: 10px;
        }
    }
    .clone-download{
        display: flex;
        align-items: center;
        margin-top: var(--thoughtware-padding-item);
        border-top: 1px solid #d9d9d9;
        .clone-item-download{
            flex: 1;
            text-align: center;
            height: 40px;
            line-height: 40px;
            cursor: pointer;
            &:hover{
                background-color: #f4f4f4;
            }
        }
    }
}
