.file-search-drop{
  box-shadow: 0 4px 8px -2px #091e4240, 0 0 1px #091e424f;
  border-radius: 4px;
  background-color: #ffffff;
  width: 500px;
  .file-search-drop-content{
    max-height: 400px;
    overflow-y: auto;
    padding-bottom: 7px;
    .drop-content-nav{
      padding: 10px;
      cursor: pointer;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      &:hover{
        background-color: #EBECF0;
      }
    }
  }

}


