.reqDrawer{
/*  margin-top: 10px;
  border: 1px solid #e9e9e9;
  background-color: #f6f6f6;*/

  .nav-tabs{
    flex: 1;
   /* margin: 10px;*/
    display: flex;
    gap: 25px;
    word-wrap: break-word; /* 控制单词换行 */
    overflow-x: hidden; /* 隐藏水平滚动条 */
    white-space: normal; /* 允许换行 */
    .nav-tabs-text{
      font-size: 12px;
    }
  }

  .k{
    color: #3967FF;
    font-weight: 600;
  }
  .a {
    color: olive;
  }
 /* .sym-16{
    padding-left: 16px;
  }*/
  .source-line-code-issue {
    display: inline-block;
    border-bottom: 2px solid #df5000;
    background-repeat: repeat-x;
    background-size: 4px;
    background-position: bottom;
  }
  .error_nav{
    color: red;
  }
  .issues_border{
    margin-top: 10px;
    border: 1px solid #e9e9e9;
    background-color: #f2dede;
    padding: 10px;
  }
}
