.resources{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px 30px;
    .ant-col{
        min-width: 500px;
    }
    .resources-data{
        padding-top: 10px;
        .resources-data-item{
            border-bottom: 1px solid #f0f0f0;
            padding: 15px 0;
            align-items: center;
            display: flex;
            .data-item-title{
                width: 130px
            }
            .data-item-desc{
                flex: 1;
                .data-item-middle{
                    padding: 0 5px;
                }
            }
            .data-item-but{
                color: var(--tiklab-blue);
                cursor: pointer;
            }
        }
        .min-width{
            min-width: 576px;
        }
    }
}
