.dev-deploy{
  .dev-deploy-up{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .dev-deploy-table{
    padding-top: var(---xcode-table-top);
  }
  .dev-deploy-ill{
    margin: var(--thoughtware-padding-item) 0;
    padding: 10px;
    background: #F8FFFF;
    color: var(--thoughtware-blue);
    border: 1px solid #e3e9ed;
  }
  .dev-deploy-table-title{
    color: var(--thoughtware-blue);
    cursor: pointer;
  }
}
.dev-deploy-add-modal{
  .dev-deploy-add-up{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--thoughtware-font-weight-bold);
    padding: var(--thoughtware-padding) var(--thoughtware-padding) var(--thoughtware-padding-item);
  }
  .dev-deploy-add-content{
    padding: 0 var(--thoughtware-padding);
    overflow:auto;
  }
}
