.server-deploy{
  .server-deploy-up{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .server-deploy-table{
    padding-top: 10px;
  }
  .server-deploy-ill{
    margin: var(--tiklab-padding-item) 0;
    padding: 10px;
    background: #F8FFFF;
    color: var(--tiklab-blue);
    border: 1px solid #e3e9ed;
  }
  .server-deploy-table-title{
    color: var(--tiklab-blue);
    cursor: pointer;
  }
}
.server-deploy-add-modal{
  .server-deploy-add-up{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--tiklab-font-weight-bold);
    padding: var(--tiklab-padding) var(--tiklab-padding) var(--tiklab-padding-item);
  }
  .server-deploy-add-content{
    padding: 0 var(--tiklab-padding);
    overflow:auto;
  }
}
