.statistics{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px 30px;
    min-width: var(--project-setting-min-width);
    .ant-form-item {
        padding: 15px 0;
    }


    .statistics-work-content {
        padding: 15px  0;
        .statistics-work-table {
            padding: 15px 0;
        }
        .statistics-work-text {
            display: flex;
            gap: 15px;
            .statistics-work-text-add {
                color: var(--thoughtware-gree);
            }
            .statistics-work-text-delete {
                color: #ff0000;
            }

        }
        .statistics-work-text-nav {
            padding: 10px 0;
            font-size:14px;
            font-weight: 500;
        }
        .statistics-work-bar {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
        }
    }
}
