.statistics{
    height: 100%;
    overflow: auto;
    background: var(--xcode-backdrop-color);
    &-head{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: var(--thoughtware-padding-item) 0;
        .head-item{
            flex: 1;
            padding: 0 var(--thoughtware-padding-item);
            background: #ffffff;
            border-radius: 4px;
            .head-item-content{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                height: 100px;
                min-width: 100px;
            }
            &:not(:last-child){
                margin-right: var(--thoughtware-padding-item);
            }
        }
    }
    &-census{
        padding: 10px;
        background: #ffffff;
        border-radius: 4px;
        .statistics-census-head{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .title-user{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .title-user-avatar{
                    padding-right: 10px;
                }
                .title-user-name{
                    .num{
                        font-size: 13px;
                        color: var(--thoughtware-gray-500);
                    }
                }
            }
            .title-branch{
                font-size: 13px;
                color: var(--thoughtware-gray-500);
            }
        }
    }
}
