.commitsDetails{
    height: 100%;
    overflow: auto;
    &-head{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 8px 0 8px;
        .commitsDetails-head-left{
            display: flex;
            flex-direction: row;
            align-items: center;
            .head-title-icon .head-icon{
                padding-left: 5px;
                cursor: pointer;
            }
            .head-divider{
                height: 0.9em;
                margin: 0 8px;
                vertical-align: middle;
                border-top: 0;
                border-left: 1px solid #d9d9d9;
            }
            .head-user-time .head-time{
                padding-right: 5px;
            }
        }
    }
    &-contrast{
        .commitsDetails-contrast-content{
            .contrast-title{
                border-bottom: 1px solid #d9d9d9;
                margin-bottom: var(--tiklab-padding-item);
            }
            .contrast-affected{
                display: flex;
                flex-direction: row;
                align-items: center;
                .contrast-affected-opt{
                    margin-right: 10px;
                    cursor: pointer;
                }
                .contrast-affected-num{
                    .num-title,.num-add{
                        padding-right: 5px;
                    }
                    .num-add{
                        color: var(--tiklab-blue);
                    }
                    .num-reduce{
                        color: #ff0000;
                    }
                }
            }
            .contrast-content .contrast-content-item{
                .item-head{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 8px;
                    .item-head-icon{
                        margin-right: 8px;
                        cursor: pointer;
                    }
                    .item-head-file{
                        flex: 1;
                        .item-title-title{
                            display: inline-block;
                            vertical-align: middle;
                            max-width: 570px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            -o-text-overflow: ellipsis;
                            font-weight: 500;
                            padding-right: 8px;
                        }
                        .item-title-type{
                            font-size: var(--tiklab-font-13);
                            color: var(--tiklab-gray-500);
                            padding-right: 8px;
                        }
                        .item-title-icon{
                            cursor: pointer;
                        }
                    }
                }
                .item-content{
                    padding: 8px;
                }
            }
        }
    }
}

.diff-file{
    .diff-line{
        line-height: 20px;
    }
    .diff-line td{
        vertical-align: initial;
    }
    .diff-line-num{
        width: 1%;
        min-width: 36px;
        font-size: 12px;
        margin: 0;
        text-align: right;
        padding: 0 5px;
        color: #999;
        white-space: nowrap;
    }
    .diff-line-code{
        padding: 3px 3px 3px 32px;
        font-family: Consolas,Courier,monospace;
        position: relative;
        white-space: pre-wrap;
        word-break: break-word;
    }
    .diff-add .diff-line-num{
        background-color: #d6fedb;
    }
    .diff-delete .diff-line-num{
        background-color: #fadde0;
    }
    .diff-expand .diff-line-double-num{
        width: 1%;
        min-width: 72px;
        text-align: center;
        cursor: pointer;
        background-color: #d8ecff;
        white-space: nowrap;
    }
    .diff-expand .diff-line-code{
        background-color: #f1f8ff;
        color: var(--tiklab-gray-500);
    }
    .diff-add .diff-line-code{
        background-color: #e6ffed;
        &:before{
            content: '+';
            position: absolute;
            left: 0.5em
        }
    }
    .diff-delete .diff-line-code{
        background-color: #feedf0;
        &:before{
            content: '-';
            position: absolute;
            left: 0.5em
        }
    }
    .diff-expand-normal{
        .diff-line-num,.diff-line-code{
            background-color: #f7f7f7;
        }
    }
}

.commits-diff-drop-title{
    box-shadow: 0 4px 8px -2px #091e4240, 0 0 1px #091e424f;
    border-radius: 4px;
    background-color: #ffffff;
    width: 500px;
    .commits-diff-drop-title-input{
        padding: 8px;
    }
    .commits-diff-drop-title-content{
        max-height: 300px;
        overflow-y: auto;
        padding-bottom: 10px;
    }
    .commits-diff-drop-title-item{
        padding: 8px 15px;
        width: 100%;
        display: flex;
        flex-direction: row;
        &:hover{
            cursor: pointer;
            background-color: #f8f8f8;
        }
        .diff-drop-title-item-icon{
            margin-right: 8px;
        }
        .diff-drop-title-item-title{
            display: inline-block;
            overflow: hidden;
            width: calc(100% - 50px);
            white-space: nowrap;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            vertical-align: middle;
        }
        .diff-drop-title-item-add,.diff-drop-title-item-delete{
            padding-left: 8px;
        }
        .diff-drop-title-item-add{
            color: var(--tiklab-blue);
        }
        .diff-drop-title-item-delete{
            color: #ff0000;
        }
    }
}
